*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('watermark.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.419);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.container, .begin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: white;
    background-color: green;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.begin:hover{
    transform: scale(1.1);
    background-color: rgb(2, 202, 2);
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#game{
    z-index: 2;
}

#layout{
    z-index: 1;
}


.score{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.116);
    color: red;
    height: 3rem;
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggles{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.toggles span{
    font-size: 1.25rem;
    font-weight: 600;
}

.toggles input{
    width: 180px;
    height: 2rem;
    font-size: 1.25rem;
}

.lost{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.57);
    font-size: 8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   -webkit-text-stroke: 4px black;
   text-transform: uppercase;
   user-select: none;
}

.hidden{
    display: none !important;
}